# Dependencies
node_modules

# Build output
dist
build
.vite

# Logs
*.log
npm-debug.log*

# Editor directories
.vscode
.idea

# Package manager
package-lock.json
pnpm-lock.yaml
yarn.lock

# Misc
.DS_Store
coverage
